.header {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: var(--color-text-main);
}

.theme-button {
  all: unset;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 2.5px;
  cursor: pointer;
}

.theme {
  color: var(--color-text-main);
  display: flex;
  align-items: center;

  img {
    margin-left: 10px;
  }
}
